<div class="divPai">

    <app-jogador
        [class]="jogador.posicao" 
        [cor]="jogador.cor" 
        *ngFor="let jogador of jogadores"> 
    </app-jogador>
    
    <div class="barrahorzontal1"> 
        <div > </div>

    </div>

    <div class="barrahorzontal2"> 
        <div > </div>

    </div>
    
    <div class="barravertical1"> 
        <div > </div>

    </div>

    <div class="barravertical2"> 
        <div > </div>

    </div>

    <div class="barravertical3"> 
        <div > </div>

    </div>
